form {
  font-size: 22px;
  background-color: rgb(46, 46, 46);
  padding: 16px;
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;

  input {
    width: 60%;
    background-color: rgb(58, 58, 58);
    color: whitesmoke;
    border: 2px gray solid;
    text-align: center;
  }

  button {
    width: 20%;
    padding: 10px 5%;
    background-color: rgb(58, 58, 58);
    color: whitesmoke;
    border: none;
    border: 2px gray solid;
  }

  button:hover {
    cursor: pointer;
  }
}
